body {
    background-color: rgb(24, 31, 61) !important;
    font-family: 'Rubik', sans-serif;
}

button {
    background-color: rgb(24, 31, 61) !important;
    border-color: rgb(24, 31, 61) !important;
}

.text-center {
    text-align: center;
}

.container {
    background-color: rgb(24, 31, 61) !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-start {
    background-color: white;
    width: 70vw;
    height: 98vh;
    border-radius: 10px;
    position: absolute;
    border: 1px solid rgba(0,0,0,.125);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-start h1 {
    margin-top: 15px;
}

.ball-start-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ball-start-img-container img {
    width: 95%;
    border-radius: 10px;
    margin-top: 16px;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.35);
}

.quiz-card {
    width: 30rem;
}

.bball-img {
    height: 250px;
}

.bball-img img {
    height: 100%;
    object-fit: cover;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.answer-hover:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success, .bg-danger {
    color: white;
}

.quiz-end {
    font-size: 30px;
    margin-bottom: 15px;
}

.cup {
    width: 100%;
}

.restart-btn {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.progress-bar {
    background-color: rgb(24, 31, 61) !important;
}

@media (max-width: 530px) {

    .navbar {
        display: none !important;
    }

    .container {
        height: 100vh;
        width: 100vw !important;
    }

    .quiz-card {
        height: 100%;
        width: 100%;
    }

}